
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  color: #e63462;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-collapse {
  display: flex;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.sign-links{
  display: flex;
  margin: 0 20px;
}
.sign-link{
  margin: 0 10px;
}
.sign-link:hover{
  color: #e63462
}
.nav-item {
  margin-left: 20px;
}
.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-link:hover {
  color: #e63462
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


 .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    text-align: center;
  }
  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  .alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
  }
  .alert p {
    margin: 0;
    padding-right: 30px;
  }
   .close-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: rgba(0,0,0,0.1);
    border: none;
    border-radius: 50%;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }
  .close-btn:hover {
    opacity: 1;
  }
  .alert-dismissible {
    padding-right: 4rem;
  }

@media (max-width: 768px) {
  .navbar-collapse {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item {
    margin: 10px 0;
  }

  .container {
    width: 90%;
    padding: 10px;
  }
}
