{% extends "base.html" %} {% block title%} Registration {% endblock%} {% block
content %}
<div class="auth-page">
  <h2 class="page-title">Registration</h2>
  <form method="post" enctype="multipart/form-data">
    <div class="input-group">
      <label for="email">Email: </label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
      />
    </div>
    <div class="input-group">
      <label for="names">Names: </label>
      <input
        type="text"
        class="form-control"
        id="names"
        name="names"
        required
      />
    </div>
    <div class="input-group">
      <label for="profile-image">Profile Image: </label>
      <input
        type="file"
        class="form-control"
        id="profile-image"
        name="profile-image"
        accept="image/*"
      />
    </div>
    <div class="input-group">
      <label for="password">Password: </label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      />
    </div>
    <div class="input-group">
      <label for="password">Confirm Password: </label>
      <input
        type="password"
        class="form-control"
        id="confirm-password"
        name="confirm-password"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    <p>
      Already have an account?
      <a class="sign-red" href="{{ url_for('auth.login') }}">Login</a>
    </p>
  </form>
</div>
{% endblock %}
